// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

$fa-font-path:"../webfonts";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

//admin-lte
@import '~admin-lte/dist/css/adminlte.css';

.router-link-exact-active{
    background-color: #3f51b1;
    color: #ffffff !important;
    opacity: .8;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#fa8072;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}